<h1>Редактирование рекламной записи</h1>

<%= render 'form' %>

<%= link_to 'Показать', @advertisement, class: 'btn btn-default' %>  |
<%= link_to 'Назад', advertisements_path, class: 'btn btn-default' %>
