<h1>Реклама</h1>

<%= link_to 'Новое рекламное объявление', new_advertisement_path, class: 'btn btn-default' %>
<br />

<% if !@advertisements.empty? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Заголовок</th>
          <th>Описание</th>
          <th>Активность</th>
          <th>Посещений</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @advertisements.each do |advertisement| %>
          <%= render partial: advertisement %>
        <% end %>
      </tbody>
    </table>
<% else %>
    <h3 class="text-center">Вы пока что не разместили никакой рекламы</h3>
<% end %>


<br />
