<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to 'Все новости', posts_path %></li>
  <li role="presentation" class="active"><%= link_to 'Новости на главной', main_posts_path %></li>
  <li role="presentation"><%= link_to 'Скрытые новости', hidden_posts_path %></li>
</ul>
<br />

<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Название</th>
    <th>Текст</th>
    <th>Автор</th>
    <th>Главная</th>
    <th>Зафичерено</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
      <%= render partial: post %>
  <% end %>
  </tbody>
</table>

<br>


