/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dashboard
 *= require scaffolds
 *= require options
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#admin-content:after
{
  content: ".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

.new_post .error {
  color: #ff0000;
}

.new_advertisement .error {
  color: #ff0000;
}

.edit_advertisement .error {
  color: #ff0000;
}

.edit_post .error {
  color: #ff0000;
}