// Place all the styles related to the newspaper controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *
 *= require weather-icons
 *= require_self
 *= require style
 *= require swiper.min
 * require social-share-button
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "fotorama";

#register .error {
  color: #ff0000;
}

.weather i {
  font-size: 57px;
  width: 57px;
  float: right;
  color: #9933cc;
}

.social-share-button {
  display: inline-block;
  width: 140px;
  height: 32px;
  float: right;
  margin-right: 0px;
}

.social-share {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 3px;
  float: left;
}

.social-share-button-facebook {
  @extend .social-share;
  background: url("social/facebook.png") no-repeat;
}

.social-share-button-twitter {
  @extend .social-share;
  background: url("social/twitter.png") no-repeat;
}

.social-share-button-google_plus {
  @extend .social-share;
  background: url('social/googleplus.png') no-repeat
}

.social-share-button-tumblr {
  @extend .social-share;
  background: url("social/tumblr.png") no-repeat;
}