<div class="popular-news">
  <p class="title">популярное</p>
  <div class="popupal-items-wrap">
    <%# there should be a loop for popular posts %>
      <%= link_to '#', class: 'popular-item' do %>
        <time>19:48</time>
        <span>Яценюк приехал тушить пожар в зоне Чернобыльской АЭС</span>
      <% end %>
    <%# end %>
  </div>
</div>