<div class="popular-news">
  <p class="title">популярные теги</p>
  <div class="popupal-items-wrap">
    <% @popular_tags.each do |tag| %>
      <%= link_to '#', class: 'popular-item' do %>
        <span><%= tag.name %></span>
      <% end %>
    <% end %>
  </div>
</div>