<div class="row">
  <div class="fotorama main-slider">
    <div class="fotorama-slide">
      <img src="pic/slider.jpg" alt=""/>
      <div class="slide-info">
        <p class="title">Первые покупатели <br/>
          начали получать <br/>
          Apple Watch
        </p>
        <p class="text">
          Apple начала продажи своего первого носимого устройства Watch в США, Великобритании, Австралии, Канаде, Германии...
        </p>
        <div class="counters">
          <a href="#" class="views">
            <i><span></span></i> 359
          </a>
          <a href="#" class="comments">
            <i><span></span></i> 245
          </a>
          <a href="#" class="shares">
            <i><span></span></i> 169
          </a>
        </div>
        <a href="#" class="read-more-btn">читать полностью</a>
      </div>
    </div>
    <div class="fotorama-slide">
      <img src="pic/slider.jpg" alt=""/>
      <div class="slide-info">
        <p class="title">Первые покупатели <br/>
          начали получать <br/>
          Apple Watch
        </p>
        <p class="text">
          Apple начала продажи своего первого носимого устройства Watch в США, Великобритании, Австралии, Канаде, Германии...
        </p>
        <div class="counters">
          <a href="#" class="views">
            <i><span></span></i> 359
          </a>
          <a href="#" class="comments">
            <i><span></span></i> 245
          </a>
          <a href="#" class="shares">
            <i><span></span></i> 169
          </a>
        </div>
        <a href="#" class="read-more-btn">читать полностью</a>
      </div>
    </div>
    <div class="fotorama-slide">
      <img src="pic/slider.jpg" alt=""/>
      <div class="slide-info">
        <p class="title">Первые покупатели <br/>
          начали получать <br/>
          Apple Watch
        </p>
        <p class="text">
          Apple начала продажи своего первого носимого устройства Watch в США, Великобритании, Австралии, Канаде, Германии...
        </p>
        <div class="counters">
          <a href="#" class="views">
            <i><span></span></i> 359
          </a>
          <a href="#" class="comments">
            <i><span></span></i> 245
          </a>
          <a href="#" class="shares">
            <i><span></span></i> 169
          </a>
        </div>
        <a href="#" class="read-more-btn">читать полностью</a>
      </div>
    </div>
  </div>
</div>