<div class="container search-page">
  <!--  begin search results -->
    <%= render partial: 'search', object: @posts %>
  <!--  END search results  -->

  <div class="col-md-4 col-md-offset-5">
    <%= will_paginate @posts %>
  </div>
</div>